
<mat-toolbar>

  <mat-toolbar-row>

    <span class="toolbar-spacer"></span>
    <li role="presentation" routerLinkActive="active"><a routerLink="/patient-mainpage" class="navbar-element">Main Page</a></li>
    <span class="toolbar-spacer"></span>
    <li role="presentation" routerLinkActive="active"><a routerLink="/view-doctors" class="navbar-element">View Doctors</a></li>
    <span class="toolbar-spacer"></span>
    <li role="presentation" routerLinkActive="active"><a routerLink="/patient-registration-request" class="navbar-element">Registration</a></li>
    <span class="toolbar-spacer"></span>
    <li role="presentation" routerLinkActive="active"><a routerLink="/create-appointment" class="navbar-element">Appointment</a></li>
    <span class="toolbar-spacer"></span>
    <li role="presentation" routerLinkActive="active"><a routerLink="/patient-medical-record" class="navbar-element">Medical Record </a></li>
    <span class="toolbar-spacer"></span>
    <li role="presentation" routerLinkActive="active"><a routerLink="/patient-progress" class="navbar-element">Progress</a></li>
    <span class="toolbar-spacer"></span>
    <li role="presentation" routerLinkActive="active"><a (click)="onEmergencyClick()" class="navbar-element">Emergency Notification</a></li>
    <span class="toolbar-spacer"></span>
    <li role="presentation" routerLinkActive="active"><a routerLink="/doctor-review" class="navbar-element">Doctor Review</a></li>
    <span class="toolbar-spacer"></span>
    <li role="presentation" routerLinkActive="active"><a routerLink="/delete-account" class="navbar-element">Delete Account </a></li>
    <span class="toolbar-spacer"></span>
    <li role="presentation" routerLinkActive="active"><a routerLink="/login">Logout </a></li>

  </mat-toolbar-row>

</mat-toolbar>
