
<mat-toolbar>

  <mat-toolbar-row>

    <span class="toolbar-spacer"></span>
    <li role="presentation" routerLinkActive="active"><a routerLink="/patient-mainpage">Main Page</a></li>
    <span class="toolbar-spacer"></span>
    <li role="presentation" routerLinkActive="active"><a routerLink="/view-doctors">View Doctors</a></li>
    <span class="toolbar-spacer"></span>
    <li role="presentation" routerLinkActive="active"><a routerLink="/patient-registration-request">Registration</a></li>
    <span class="toolbar-spacer"></span>
    <li role="presentation" routerLinkActive="active"><a routerLink="/create-appointment">Appointment</a></li>
    <span class="toolbar-spacer"></span>
    <li role="presentation" routerLinkActive="active"><a routerLink="/da">Medical Record</a></li>
    <span class="toolbar-spacer"></span>
    <li role="presentation" routerLinkActive="active"><a routerLink="/da">Progress</a></li>
    <span class="toolbar-spacer"></span>
    <li role="presentation" routerLinkActive="active"><a routerLink="/da">Emergency Notification</a></li>
    <span class="toolbar-spacer"></span>
    <li role="presentation" routerLinkActive="active"><a routerLink="/da">Doctor Review</a></li>
    <span class="toolbar-spacer"></span>
    <li role="presentation" routerLinkActive="active"><a routerLink="/delete-account">Delete Account </a></li>
    <span class="toolbar-spacer"></span>
    <li role="presentation" routerLinkActive="active"><a routerLink="/login">Logout </a></li>

  </mat-toolbar-row>

</mat-toolbar>
