<app-patient-navbar></app-patient-navbar>


<h1>
  Delete Account!
</h1>

<p> We are sorry you ....
  However, we would like to know your reasons for deleting the account and possible suggestions for improving the platform! </p>


<mat-form-field class="reasons-to-delete-form">
  <textarea matInput placeholder=" Why would you like to delete your account? "></textarea>
  <mat-hint align="center">Click the end-triangle to adjust the size</mat-hint>
</mat-form-field>

<div>
  <button mat-button class="btn btn-danger"> Delete Account</button>
</div>


