<mat-toolbar>
  <mat-toolbar-row>

    <span class="toolbar-spacer"></span>
    <li role="presentation" routerLinkActive="active"><a routerLink="/doctor-page" class="navbar-element">Main Page</a></li>
    <span class="toolbar-spacer"></span>
    <li role="presentation" routerLinkActive="active"><a routerLink="/my-patients" class="navbar-element">My Patients</a></li>
    <span class="toolbar-spacer"></span>
    <li role="presentation" routerLinkActive="active"><a routerLink="/new-registrations" class="navbar-element">New Registration Requests</a></li>
    <span class="toolbar-spacer"></span>
    <li role="presentation" routerLinkActive="active"><a routerLink="/new-appointments" class="navbar-element">New Appointment Requests</a></li>
    <span class="toolbar-spacer"></span>
    <li role="presentation" routerLinkActive="active"><a routerLink="/my-appointments" class="navbar-element">My Appointments</a></li>
    <span class="toolbar-spacer"></span>
    <li role="presentation" routerLinkActive="active"><a routerLink="/login" class="navbar-element">Logout</a></li>

  </mat-toolbar-row>
</mat-toolbar>
