<app-patient-navbar></app-patient-navbar>

<!--<h2>-->
  <!--Welcome, {{currentLoggedInUsername}}!-->
<!--</h2>-->



<ngb-carousel wrap="true">
  <ng-template ngbSlide>
    <img src="https://wallpapercave.com/wp/xPlUiin.jpg" width="1920" height="720" alt="Random first slide">
    <div class="carousel-caption">
      <h3>Friendly Personnel</h3>
      <p>A good atmosphere at our hospital is vital for everyone!</p>
      <p>Our staff is always at your disposal</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="https://www.walldevil.com/wallpapers/a29/pill.jpg" width="1920" height="720" alt="Random second slide">
    <div class="carousel-caption">
      <h3>Latest Medicine</h3>
      <p>Our hospital contains the latest medicine</p>
      <p>This ensures an excellent service for our patients </p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="http://www.guoguiyan.com/data/out/57/69143706-doctors-wallpapers.jpeg" width="1920" height="720"
         alt="Random third slide">
    <div class="carousel-caption">
      <h3>Competent doctors</h3>
      <p style="color: #112b56">Being always at your disposal, the professional competences of our doctors are unparalleled</p>
    </div>
  </ng-template>
</ngb-carousel>
