<app-patient-navbar></app-patient-navbar>

<mat-vertical-stepper [linear]="true">
  <mat-step label="Fill your name" [stepControl]="usernameFormGroup">
    <form [formGroup]="usernameFormGroup">
      <mat-form-field>
        <input matInput placeholder="First name, Last name" formControlName="usernameFormCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step label="Doctor Specialisation" [stepControl]="doctorSpecFormGroup">
    <form [formGroup]="doctorSpecFormGroup">
      <mat-form-field>
        <mat-select [(ngModel)]="doctor_spec" [(value)]="specialisation" placeholder="Select Specialisation"
                    formControlName="doctorSpecFormCtrl" required>
          <mat-option *ngFor="let specialisation of doctorSp" [value]="specialisation"
                      (click)="getDoctorsByFilter(doctor_spec)">
            {{ specialisation }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="notNull===true">
        <div class="example-container mat-elevation-z8">
          <div class="example-header">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
          <mat-table #table [dataSource]="dataSource">
            <!-- Generic column definition -->
            <ng-container *ngFor="let column of columns" [cdkColumnDef]="column.columnDef">
              <mat-header-cell *cdkHeaderCellDef>{{ column.header }}</mat-header-cell>
              <mat-cell *cdkCellDef="let row">{{ column.cell(row) }}</mat-cell>
            </ng-container>
            <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
      </div>
      <div>
        <button mat-button color="primary" matStepperPrevious>Previous</button>
        <button mat-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>


  <mat-step label="Doctor Email" [stepControl]="doctorEmailFormGroup">
    <form [formGroup]="doctorEmailFormGroup">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="doctorname@etc.com" formControlName="doctorEmailFormCtrl" required>
        <mat-hint>Copy the doctor email from the previous table</mat-hint>
      </mat-form-field>
      <div>
        <button mat-button color="primary" matStepperPrevious>Previous</button>
        <button mat-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>


  <mat-step label="Symptoms">
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Input any relevant symptoms" [(ngModel)]="sympt"></textarea>
      <mat-hint align="center">Click the end-triangle to adjust the size</mat-hint>
    </mat-form-field>
    <div>
      <button mat-button color="primary" matStepperPrevious>Previous</button>
      <button mat-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>


  <mat-step label="Confirm Request">
    <div>
      <button mat-button color="primary" matStepperPrevious>Previous</button>
      <button mat-button color="primary" (click)="onRegistrationRequest()">Send Registration</button>
    </div>
  </mat-step>

</mat-vertical-stepper>



