/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-icon{
  font-family: 'Material Icons' !important;
  width:12px;
  height:12px;
}

