.example-container {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin-right: 50px;
}

.mat-table {
  margin-left: 100px;
  margin-right: 100px;
  overflow: auto;
  max-height: 500px;
}

h1{
  margin-left: 50px;
}

mat-form-field{
  margin-left: 50px;
}
