<app-patient-navbar></app-patient-navbar>

<h1> Create Appointment </h1>

<div class="flex-container">
  <mat-form-field class="example-full-width">
    <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Hour">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let hour of filteredHours(hours)" [value]="hour">{{hour}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Minutes">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let minute of minutes" [value]="minute">{{minute}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

