.flex-container{
  display: flex;
  justify-content: space-around;
  flex-direction:column;
  align-items: center;
}

.register-element-full-width {
  width: 34%;
}
.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}
