h1{
  font-size: 25px;
}

.reasons-to-delete-form {
  width: 30%;
}


.flex-container{
  padding: 60px;
  display: flex;
  justify-content: space-around;
  flex-direction:column;
  align-items: center;
}

.btn-danger{
  padding:10px;
}
