<app-doctor-page-navbar></app-doctor-page-navbar>

<h1>
  My patients:
</h1>


<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="Position">
      <mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="MedicalRecord">
      <mat-header-cell *matHeaderCellDef> Medical Record </mat-header-cell>
      <mat-cell *matCellDef="let element" (click) = "LinkToMedicalRecord(element.username)"> View </mat-cell>
    </ng-container>

    <ng-container matColumnDef="MedicalHistory">
      <mat-header-cell *matHeaderCellDef> Medical History </mat-header-cell>
      <mat-cell *matCellDef="let element" (click) = "LinkToMedicalHistory(element.username)"> View </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Appointments">
      <mat-header-cell *matHeaderCellDef> Appointments </mat-header-cell>
      <mat-cell *matCellDef="let element" (click) = "LinkToAppointments(element.username)"> View </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>



  </mat-table>
</div>


